/*------------------------------------------------------------------*
 * File: 		memory.css
 * Author: 		Agapito Cruz (agapito.cruz@gmail.com)
 * Contents: 	Simple memory game involving hiding and revealing
 * 				colored tiles until all matching pairs are found
 * Comments:	This file was written to demonstrate proficiency
 * 				with CSS.
 * 				This is one of three files needed to play the
 * 				game. The other three are: memory.js and
 * 				memory.html.
 -------------------------------------------------------------------*/
/*---- P O S I T I O N  A N D  L A Y O U T ----*/
body * {
	box-sizing:border-box;
	position: relative;
	margin: 0px;
	padding: 0px;
}
#wrapper {
	position:relative;
	width:100%;
}
#gameboard {
	position:relative;
	width:75%;
	height:0;
	padding-bottom:32.5%;
	overflow:hidden;
	padding-left:0;
	padding-right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
	margin-bottom:5%;
}
.tile {
	display:inline-block;
	position:relative;
	width:24%;
	height:0;
	padding-bottom:13.5%;
	background-color:black;
	border: 3px solid white;
}
.tile:hover{
	border: 3px solid yellow;
}
#wrapper .tile p {
	position:relative;
	margin-top: 20%; 
}
#wrapper header p{
	position: relative;
	width:100%;
}
#wrapper header span {
	position:relative;
	float:right;
	color:white;
}
.invisible {
	visibility:hidden;
}
.notShown {
	display:none;
}

div#modalMsgBoxContainer {
	position:absolute;
	width: 98%;
	height:98%;
	padding-bottom:5%;
	top:0px;
	/* margin-top:5%; */
	margin-left:0%;
	background-color:black;
	opacity: 0.5;
}
div#modalMsgBox {
	display:block;
	position:relative;
	width:50%;
	margin-right:auto;
	margin-left:auto;
	margin-top:10%;
	border:2px solid yellow;
}
footer {
	position:relative;
	height:10%;
	padding-top:2%;
	background-color:black;
}
#newGameButton{
	display:block;
	margin: 2% auto;
}
/*---- F O N T  S E T T I N G S ----*/
div#wrapper h1 {
	
	font-size:5.9vw;
	color:yellow;
	text-align: center;
}
div#wrapper p {
	font-size:1.5vw;
	color:white;
}
#wrapper .tile > p {
	font-size:1.0vw;
	color:yellow;
	text-align:center;
	
}
div#modalMsgBox p {
	font-size:2vw;
	color:white;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
/*---- C O L O R   S E T T I N G S ----*/
div#wrapper{
	background-color:#042037;
}
div#gameboard{
	background-color:black;
}
.green_card{
	background-color:green;
}
.blue_card{
	background-color:blue;
}
.red_card{
	background-color:red;
}
.pink_card{
	background-color:pink;
}
.purple_card{
	background-color:purple;
}
.orange_card{
	background-color:orange;
}
	
