/*------------------------------------------------------------------*
 * File: 		memory.css
 * Author: 		Agapito Cruz (agapito.cruz@gmail.com)
 * Contents: 	Simple memory game involving hiding and revealing
 * 				colored tiles until all matching pairs are found
 * Comments:	This file was written to demonstrate proficiency
 * 				with CSS.
 * 				This is one of three files needed to play the
 * 				game. The other three are: memory.js and
 * 				memory.html.
 -------------------------------------------------------------------*/
/*---- P O S I T I O N  A N D  L A Y O U T ----*/
body * {
	position: relative;
	margin: 0px;
	padding: 0px;
}
#wrapper {
	position:relative;
	width:1350px;
}
#gameboard {
	position:relative;
	width:960px;
	background-color:gray;
	margin-left:auto;
	margin-right:auto;
}
.tile {
	display:inline-block;
	position:relative;
	width:145px;
	height:145px;
	margin:10px 44px;
	background-color:black;
	border: 2px solid white;
}
.tile:hover{
	border: 2px solid yellow;
}
#wrapper .tile p {
	position:relative;
	top: 45px; 
}
#wrapper header p{
	position: relative;
	width:100%;
}
#wrapper header span {
	position:relative;
	float:right;
	color:white;
}
.invisible {
	visibility:hidden;
}
.notShown {
	display:none;
}

div#modalMsgBoxContainer {
	position:absolute;
	width: 960px;
	height:507px;
	top:0px;
	left:0px;
	background-color:black;
	opacity: 0.5;
}
div#modalMsgBox {
	display:block;
	position:absolute;
	width:200px;
	top: 200px;
	left:380px;
	border:2px solid yellow;
}
footer {
	position:relative;
	height:75px;
	background-color:black;
}
#newGameButton{
	display:block;
	top: 10px;
	margin:0px auto;
}
/*---- F O N T  S E T T I N G S ----*/
div#wrapper h1 {
	color:yellow;
	text-align: center;
}
div#wrapper p {
	color:white;
}
#wrapper .tile > p {
	color:yellow;
	text-align:center;
	
}
div#modalMsgBox p {
	color:yellow;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
/*---- C O L O R   S E T T I N G S ----*/
div#wrapper{
	background-color:black;
}
div#gameboard{
	background-color:gray;
}
.green_card{
	background-color:green;
}
.blue_card{
	background-color:blue;
}
.red_card{
	background-color:red;
}
.pink_card{
	background-color:pink;
}
.purple_card{
	background-color:purple;
}
.orange_card{
	background-color:orange;
}
	
